.gradient-custom-2 {
    background: #fccb90;
        background: linear-gradient(to right, rgb(255, 182, 6), rgb(255, 182, 6), rgb(255, 182, 6), rgb(255, 182, 6));
    }
    
  .gradient-form{
    height: 100vh;
  }
    
    .loginbtn{
    background-color:   rgb(255, 182, 6) ;
    color: black;
    width: 70%;
    outline: 1px solid black;
    }
    .loginbtn:hover{
    background-color: black;
    color: white;
    outline: 1px solid rgb(255, 182, 6);
    }

    .createbtn {
        outline: 1px solid rgb(255, 182, 6);
        outline-offset: 1px; 
    }
    .createbtn:hover {
        background-color: rgb(255, 182, 6);
        color:white;
        outline: 1px solid black;
        outline-offset: 1px;
    }

    